<!DOCTYPE html >
<html>
        <head>
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
          <title>client API  - it.cwmp.client.view</title>
          <meta name="description" content="client API - it.cwmp.client.view" />
          <meta name="keywords" content="client API it.cwmp.client.view" />
          <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
          
      <link href="../../../../lib/index.css" media="screen" type="text/css" rel="stylesheet" />
      <link href="../../../../lib/template.css" media="screen" type="text/css" rel="stylesheet" />
      <link href="../../../../lib/diagrams.css" media="screen" type="text/css" rel="stylesheet" id="diagrams-css" />
      <script type="text/javascript" src="../../../../lib/jquery.js"></script>
      <script type="text/javascript" src="../../../../lib/jquery.panzoom.min.js"></script>
      <script type="text/javascript" src="../../../../lib/jquery.mousewheel.min.js"></script>
      <script type="text/javascript" src="../../../../lib/index.js"></script>
      <script type="text/javascript" src="../../../../index.js"></script>
      <script type="text/javascript" src="../../../../lib/scheduler.js"></script>
      <script type="text/javascript" src="../../../../lib/template.js"></script>
      <script type="text/javascript" src="../../../../lib/tools.tooltip.js"></script>
      
      <script type="text/javascript">
        /* this variable can be used by the JS to determine the path to the root document */
        var toRoot = '../../../../';
      </script>
    
        </head>
        <body>
      <div id="search">
        <span id="doc-title">client API<span id="doc-version"></span></span>
        <span class="close-results"><span class="left">&lt;</span> Back</span>
        <div id="textfilter">
          <span class="input">
            <input autocapitalize="none" placeholder="Search" id="index-input" type="text" accesskey="/" />
            <i class="clear material-icons"></i>
            <i id="search-icon" class="material-icons"></i>
          </span>
        </div>
    </div>
      <div id="search-results">
        <div id="search-progress">
          <div id="progress-fill"></div>
        </div>
        <div id="results-content">
          <div id="entity-results"></div>
          <div id="member-results"></div>
        </div>
      </div>
      <div id="content-scroll-container" style="-webkit-overflow-scrolling: touch;">
        <div id="content-container" style="-webkit-overflow-scrolling: touch;">
          <div id="subpackage-spacer">
            <div id="packages">
              <h1>Packages</h1>
              <ul>
                <li name="_root_.root" visbl="pub" class="indented0 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="_root_"></a><a id="root:_root_"></a>
      <span class="permalink">
      <a href="index.html#_root_" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../../../../index.html"><span class="name">root</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../../../index.html" class="extype" name="_root_">root</a></dd></dl></div>
    </li><li name="_root_.it" visbl="pub" class="indented1 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="it"></a><a id="it:it"></a>
      <span class="permalink">
      <a href="index.html#it" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../../../index.html"><span class="name">it</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../../../index.html" class="extype" name="_root_">root</a></dd></dl></div>
    </li><li name="it.cwmp" visbl="pub" class="indented2 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="cwmp"></a><a id="cwmp:cwmp"></a>
      <span class="permalink">
      <a href="../it/index.html#cwmp" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../../index.html"><span class="name">cwmp</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../../index.html" class="extype" name="it">it</a></dd></dl></div>
    </li><li name="it.cwmp.client" visbl="pub" class="indented3 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="client"></a><a id="client:client"></a>
      <span class="permalink">
      <a href="../../it/cwmp/index.html#client" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../index.html"><span class="name">client</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../index.html" class="extype" name="it.cwmp">cwmp</a></dd></dl></div>
    </li><li name="it.cwmp.client.controller" visbl="pub" class="indented4 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="controller"></a><a id="controller:controller"></a>
      <span class="permalink">
      <a href="../../../it/cwmp/client/index.html#controller" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../controller/index.html"><span class="name">controller</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../index.html" class="extype" name="it.cwmp.client">client</a></dd></dl></div>
    </li><li name="it.cwmp.client.model" visbl="pub" class="indented4 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="model"></a><a id="model:model"></a>
      <span class="permalink">
      <a href="../../../it/cwmp/client/index.html#model" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../model/index.html"><span class="name">model</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../index.html" class="extype" name="it.cwmp.client">client</a></dd></dl></div>
    </li><li name="it.cwmp.client.utils" visbl="pub" class="indented4 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="utils"></a><a id="utils:utils"></a>
      <span class="permalink">
      <a href="../../../it/cwmp/client/index.html#utils" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../utils/index.html"><span class="name">utils</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../index.html" class="extype" name="it.cwmp.client">client</a></dd></dl></div>
    </li><li name="it.cwmp.client.view" visbl="pub" class="indented4 current" data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="view"></a><a id="view:view"></a>
      <span class="permalink">
      <a href="../../../it/cwmp/client/index.html#view" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <span class="name">view</span>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../index.html" class="extype" name="it.cwmp.client">client</a></dd></dl></div>
    </li><li name="it.cwmp.client.view.authentication" visbl="pub" class="indented5 " data-isabs="false" fullComment="no" group="Ungrouped">
      <a id="authentication"></a><a id="authentication:authentication"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#authentication" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="authentication/index.html"><span class="name">authentication</span></a>
      </span>
      
      
    </li><li name="it.cwmp.client.view.game" visbl="pub" class="indented5 " data-isabs="false" fullComment="no" group="Ungrouped">
      <a id="game"></a><a id="game:game"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#game" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="game/index.html"><span class="name">game</span></a>
      </span>
      
      
    </li><li name="it.cwmp.client.view.room" visbl="pub" class="indented5 " data-isabs="false" fullComment="no" group="Ungrouped">
      <a id="room"></a><a id="room:room"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#room" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="room/index.html"><span class="name">room</span></a>
      </span>
      
      
    </li><li class="current-entities indented4">
                        <a class="object" href="FXAlertsController$.html" title="Companion object"></a>
                        <a class="trait" href="FXAlertsController.html" title="A trait that makes possible to show Alerts"></a>
                        <a href="FXAlertsController.html" title="A trait that makes possible to show Alerts">FXAlertsController</a>
                      </li><li class="current-entities indented4">
                        <span class="separator"></span>
                        <a class="trait" href="FXInputChecks.html" title="A trait describing common checks over view input"></a>
                        <a href="FXInputChecks.html" title="A trait describing common checks over view input">FXInputChecks</a>
                      </li><li class="current-entities indented4">
                        <span class="separator"></span>
                        <a class="trait" href="FXInputViewController.html" title="A trait that gives generic methods that all JavaFX input controllers should have"></a>
                        <a href="FXInputViewController.html" title="A trait that gives generic methods that all JavaFX input controllers should have">FXInputViewController</a>
                      </li><li class="current-entities indented4">
                        <span class="separator"></span>
                        <a class="trait" href="FXRunOnUIThread.html" title="A trait that gives a way to run tasks on JavaFX Application Thread without overhead"></a>
                        <a href="FXRunOnUIThread.html" title="A trait that gives a way to run tasks on JavaFX Application Thread without overhead">FXRunOnUIThread</a>
                      </li><li class="current-entities indented4">
                        <span class="separator"></span>
                        <a class="class" href="FXServiceViewActor.html" title="A base class representing a Service View actor with JavaFX underlying"></a>
                        <a href="FXServiceViewActor.html" title="A base class representing a Service View actor with JavaFX underlying">FXServiceViewActor</a>
                      </li><li class="current-entities indented4">
                        <span class="separator"></span>
                        <a class="trait" href="FXViewController.html" title="Trait that models a generic view."></a>
                        <a href="FXViewController.html" title="Trait that models a generic view.">FXViewController</a>
                      </li>
              </ul>
            </div>
          </div>
          <div id="content">
            <body class="package value">
      <div id="definition">
        <div class="big-circle package">p</div>
        <p id="owner"><a href="../../../index.html" class="extype" name="it">it</a>.<a href="../../index.html" class="extype" name="it.cwmp">cwmp</a>.<a href="../index.html" class="extype" name="it.cwmp.client">client</a></p>
        <h1>view<span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span></h1>
        
      </div>

      <h4 id="signature" class="signature">
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <span class="name">view</span>
      </span>
      </h4>

      
          <div id="comment" class="fullcommenttop"></div>
        

      <div id="mbrsel">
        <div class="toggle"></div>
        <div id="memberfilter">
          <i class="material-icons arrow"></i>
          <span class="input">
            <input id="mbrsel-input" placeholder="Filter all members" type="text" accesskey="/" />
          </span>
          <i class="clear material-icons"></i>
        </div>
        <div id="filterby">
          <div id="order">
            <span class="filtertype">Ordering</span>
            <ol>
              
              <li class="alpha in"><span>Alphabetic</span></li>
              
            </ol>
          </div>
          
          <div id="visbl">
              <span class="filtertype">Visibility</span>
              <ol><li class="public in"><span>Public</span></li><li class="all out"><span>All</span></li></ol>
            </div>
        </div>
      </div>

      <div id="template">
        <div id="allMembers">
        

        <div id="types" class="types members">
              <h3>Type Members</h3>
              <ol><li name="it.cwmp.client.view.FXAlertsController" visbl="pub" class="indented0 " data-isabs="true" fullComment="no" group="Ungrouped">
      <a id="FXAlertsControllerextendsFXRunOnUIThread"></a><a id="FXAlertsController:FXAlertsController"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#FXAlertsControllerextendsFXRunOnUIThread" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">trait</span>
      </span>
      <span class="symbol">
        <a title="A trait that makes possible to show Alerts" href="FXAlertsController.html"><span class="name">FXAlertsController</span></a><span class="result"> extends <a href="FXRunOnUIThread.html" class="extype" name="it.cwmp.client.view.FXRunOnUIThread">FXRunOnUIThread</a></span>
      </span>
      
      <p class="shortcomment cmt">A trait that makes possible to show Alerts
</p>
    </li><li name="it.cwmp.client.view.FXInputChecks" visbl="pub" class="indented0 " data-isabs="true" fullComment="no" group="Ungrouped">
      <a id="FXInputChecksextendsFXAlertsController"></a><a id="FXInputChecks:FXInputChecks"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#FXInputChecksextendsFXAlertsController" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">trait</span>
      </span>
      <span class="symbol">
        <a title="A trait describing common checks over view input" href="FXInputChecks.html"><span class="name">FXInputChecks</span></a><span class="result"> extends <a href="FXAlertsController.html" class="extype" name="it.cwmp.client.view.FXAlertsController">FXAlertsController</a></span>
      </span>
      
      <p class="shortcomment cmt">A trait describing common checks over view input
</p>
    </li><li name="it.cwmp.client.view.FXInputViewController" visbl="pub" class="indented0 " data-isabs="true" fullComment="no" group="Ungrouped">
      <a id="FXInputViewControllerextendsAnyRef"></a><a id="FXInputViewController:FXInputViewController"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#FXInputViewControllerextendsAnyRef" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">trait</span>
      </span>
      <span class="symbol">
        <a title="A trait that gives generic methods that all JavaFX input controllers should have" href="FXInputViewController.html"><span class="name">FXInputViewController</span></a><span class="result"> extends <span class="extype" name="scala.AnyRef">AnyRef</span></span>
      </span>
      
      <p class="shortcomment cmt">A trait that gives generic methods that all JavaFX input controllers should have
</p>
    </li><li name="it.cwmp.client.view.FXRunOnUIThread" visbl="pub" class="indented0 " data-isabs="true" fullComment="no" group="Ungrouped">
      <a id="FXRunOnUIThreadextendsAnyRef"></a><a id="FXRunOnUIThread:FXRunOnUIThread"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#FXRunOnUIThreadextendsAnyRef" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">trait</span>
      </span>
      <span class="symbol">
        <a title="A trait that gives a way to run tasks on JavaFX Application Thread without overhead" href="FXRunOnUIThread.html"><span class="name">FXRunOnUIThread</span></a><span class="result"> extends <span class="extype" name="scala.AnyRef">AnyRef</span></span>
      </span>
      
      <p class="shortcomment cmt">A trait that gives a way to run tasks on JavaFX Application Thread without overhead
</p>
    </li><li name="it.cwmp.client.view.FXServiceViewActor" visbl="pub" class="indented0 " data-isabs="true" fullComment="no" group="Ungrouped">
      <a id="FXServiceViewActorextendsActorwithActorAlertManagementwithActorViewVisibilityManagement"></a><a id="FXServiceViewActor:FXServiceViewActor"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#FXServiceViewActorextendsActorwithActorAlertManagementwithActorViewVisibilityManagement" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier">abstract </span>
        <span class="kind">class</span>
      </span>
      <span class="symbol">
        <a title="A base class representing a Service View actor with JavaFX underlying" href="FXServiceViewActor.html"><span class="name">FXServiceViewActor</span></a><span class="result"> extends <span class="extype" name="akka.actor.Actor">Actor</span> with <a href="../controller/ActorAlertManagement.html" class="extype" name="it.cwmp.client.controller.ActorAlertManagement">ActorAlertManagement</a> with <a href="../controller/ActorViewVisibilityManagement.html" class="extype" name="it.cwmp.client.controller.ActorViewVisibilityManagement">ActorViewVisibilityManagement</a></span>
      </span>
      
      <p class="shortcomment cmt">A base class representing a Service View actor with JavaFX underlying
</p>
    </li><li name="it.cwmp.client.view.FXViewController" visbl="pub" class="indented0 " data-isabs="true" fullComment="yes" group="Ungrouped">
      <a id="FXViewControllerextendsAnyRef"></a><a id="FXViewController:FXViewController"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#FXViewControllerextendsAnyRef" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">trait</span>
      </span>
      <span class="symbol">
        <a title="Trait that models a generic view." href="FXViewController.html"><span class="name">FXViewController</span></a><span class="result"> extends <span class="extype" name="scala.AnyRef">AnyRef</span></span>
      </span>
      
      <p class="shortcomment cmt">Trait that models a generic view.</p><div class="fullcomment"><div class="comment cmt"><p>Trait that models a generic view.
Implements the main measures for a basic management of the view, delegating to the class
that extends it the choice of which components to use in the creation of the interface.
</p></div></div>
    </li></ol>
            </div>

        

        <div class="values members">
              <h3>Value Members</h3>
              <ol>
                <li name="it.cwmp.client.view.FXAlertsController" visbl="pub" class="indented0 " data-isabs="false" fullComment="no" group="Ungrouped">
      <a id="FXAlertsController"></a><a id="FXAlertsController:FXAlertsController"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#FXAlertsController" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">object</span>
      </span>
      <span class="symbol">
        <a title="Companion object" href="FXAlertsController$.html"><span class="name">FXAlertsController</span></a>
      </span>
      
      <p class="shortcomment cmt">Companion object
</p>
    </li>
              </ol>
            </div>

        

        
        </div>

        <div id="inheritedMembers">
        
        
        </div>

        <div id="groupedMembers">
        <div class="group" name="Ungrouped">
              <h3>Ungrouped</h3>
              
            </div>
        </div>

      </div>

      <div id="tooltip"></div>

      <div id="footer">  </div>
    </body>
          </div>
        </div>
      </div>
    </body>
      </html>
