<!DOCTYPE html >
<html>
        <head>
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
          <title>client API  - it.cwmp.client.view</title>
          <meta name="description" content="client API - it.cwmp.client.view" />
          <meta name="keywords" content="client API it.cwmp.client.view" />
          <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
          
      <link href="../../../../lib/index.css" media="screen" type="text/css" rel="stylesheet" />
      <link href="../../../../lib/template.css" media="screen" type="text/css" rel="stylesheet" />
      <link href="../../../../lib/diagrams.css" media="screen" type="text/css" rel="stylesheet" id="diagrams-css" />
      <script type="text/javascript" src="../../../../lib/jquery.js"></script>
      <script type="text/javascript" src="../../../../lib/jquery.panzoom.min.js"></script>
      <script type="text/javascript" src="../../../../lib/jquery.mousewheel.min.js"></script>
      <script type="text/javascript" src="../../../../lib/index.js"></script>
      <script type="text/javascript" src="../../../../index.js"></script>
      <script type="text/javascript" src="../../../../lib/scheduler.js"></script>
      <script type="text/javascript" src="../../../../lib/template.js"></script>
      <script type="text/javascript" src="../../../../lib/tools.tooltip.js"></script>
      
      <script type="text/javascript">
        /* this variable can be used by the JS to determine the path to the root document */
        var toRoot = '../../../../';
      </script>
    
        </head>
        <body>
      <div id="search">
        <span id="doc-title">client API<span id="doc-version"></span></span>
        <span class="close-results"><span class="left">&lt;</span> Back</span>
        <div id="textfilter">
          <span class="input">
            <input autocapitalize="none" placeholder="Search" id="index-input" type="text" accesskey="/" />
            <i class="clear material-icons"></i>
            <i id="search-icon" class="material-icons"></i>
          </span>
        </div>
    </div>
      <div id="search-results">
        <div id="search-progress">
          <div id="progress-fill"></div>
        </div>
        <div id="results-content">
          <div id="entity-results"></div>
          <div id="member-results"></div>
        </div>
      </div>
      <div id="content-scroll-container" style="-webkit-overflow-scrolling: touch;">
        <div id="content-container" style="-webkit-overflow-scrolling: touch;">
          <div id="subpackage-spacer">
            <div id="packages">
              <h1>Packages</h1>
              <ul>
                <li name="_root_.root" visbl="pub" class="indented0 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="_root_"></a><a id="root:_root_"></a>
      <span class="permalink">
      <a href="index.html#_root_" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../../../../index.html"><span class="name">root</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../../../index.html" class="extype" name="_root_">root</a></dd></dl></div>
    </li><li name="_root_.it" visbl="pub" class="indented1 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="it"></a><a id="it:it"></a>
      <span class="permalink">
      <a href="index.html#it" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../../../index.html"><span class="name">it</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../../../index.html" class="extype" name="_root_">root</a></dd></dl></div>
    </li><li name="it.cwmp" visbl="pub" class="indented2 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="cwmp"></a><a id="cwmp:cwmp"></a>
      <span class="permalink">
      <a href="../it/index.html#cwmp" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../../index.html"><span class="name">cwmp</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../../index.html" class="extype" name="it">it</a></dd></dl></div>
    </li><li name="it.cwmp.client" visbl="pub" class="indented3 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="client"></a><a id="client:client"></a>
      <span class="permalink">
      <a href="../../it/cwmp/index.html#client" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../index.html"><span class="name">client</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../index.html" class="extype" name="it.cwmp">cwmp</a></dd></dl></div>
    </li><li name="it.cwmp.client.controller" visbl="pub" class="indented4 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="controller"></a><a id="controller:controller"></a>
      <span class="permalink">
      <a href="../../../it/cwmp/client/index.html#controller" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../controller/index.html"><span class="name">controller</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../index.html" class="extype" name="it.cwmp.client">client</a></dd></dl></div>
    </li><li name="it.cwmp.client.model" visbl="pub" class="indented4 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="model"></a><a id="model:model"></a>
      <span class="permalink">
      <a href="../../../it/cwmp/client/index.html#model" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../model/index.html"><span class="name">model</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../index.html" class="extype" name="it.cwmp.client">client</a></dd></dl></div>
    </li><li name="it.cwmp.client.utils" visbl="pub" class="indented4 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="utils"></a><a id="utils:utils"></a>
      <span class="permalink">
      <a href="../../../it/cwmp/client/index.html#utils" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../utils/index.html"><span class="name">utils</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../index.html" class="extype" name="it.cwmp.client">client</a></dd></dl></div>
    </li><li name="it.cwmp.client.view" visbl="pub" class="indented4 current" data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="view"></a><a id="view:view"></a>
      <span class="permalink">
      <a href="../../../it/cwmp/client/index.html#view" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <span class="name">view</span>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../index.html" class="extype" name="it.cwmp.client">client</a></dd></dl></div>
    </li><li name="it.cwmp.client.view.authentication" visbl="pub" class="indented5 " data-isabs="false" fullComment="no" group="Ungrouped">
      <a id="authentication"></a><a id="authentication:authentication"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#authentication" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="authentication/index.html"><span class="name">authentication</span></a>
      </span>
      
      
    </li><li name="it.cwmp.client.view.game" visbl="pub" class="indented5 " data-isabs="false" fullComment="no" group="Ungrouped">
      <a id="game"></a><a id="game:game"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#game" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="game/index.html"><span class="name">game</span></a>
      </span>
      
      
    </li><li name="it.cwmp.client.view.room" visbl="pub" class="indented5 " data-isabs="false" fullComment="no" group="Ungrouped">
      <a id="room"></a><a id="room:room"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#room" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="room/index.html"><span class="name">room</span></a>
      </span>
      
      
    </li><li class="current-entities indented4">
                        <span class="separator"></span>
                        <a class="trait" href="AlertActor.html" title="Trait da estendere ogni volta che si vuole avere in automatico la gestione di dei messaggi informativi o di errore."></a>
                        <a href="AlertActor.html" title="Trait da estendere ogni volta che si vuole avere in automatico la gestione di dei messaggi informativi o di errore.">AlertActor</a>
                      </li><li class="current-entities indented4">
                        <span class="separator"></span>
                        <a class="object" href="AlertMessages$.html" title=""></a>
                        <a href="AlertMessages$.html" title="">AlertMessages</a>
                      </li><li class="current-entities indented4">
                        <span class="separator"></span>
                        <a class="trait" href="FXAlerts.html" title=""></a>
                        <a href="FXAlerts.html" title="">FXAlerts</a>
                      </li><li class="current-entities indented4">
                        <span class="separator"></span>
                        <a class="trait" href="FXChecks.html" title=""></a>
                        <a href="FXChecks.html" title="">FXChecks</a>
                      </li><li class="current-entities indented4">
                        <span class="separator"></span>
                        <a class="trait" href="FXController.html" title=""></a>
                        <a href="FXController.html" title="">FXController</a>
                      </li><li class="current-entities indented4">
                        <span class="separator"></span>
                        <a class="trait" href="FXView.html" title="Trait that models a generic view."></a>
                        <a href="FXView.html" title="Trait that models a generic view.">FXView</a>
                      </li>
              </ul>
            </div>
          </div>
          <div id="content">
            <body class="package value">
      <div id="definition">
        <div class="big-circle package">p</div>
        <p id="owner"><a href="../../../index.html" class="extype" name="it">it</a>.<a href="../../index.html" class="extype" name="it.cwmp">cwmp</a>.<a href="../index.html" class="extype" name="it.cwmp.client">client</a></p>
        <h1>view<span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span></h1>
        
      </div>

      <h4 id="signature" class="signature">
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <span class="name">view</span>
      </span>
      </h4>

      
          <div id="comment" class="fullcommenttop"></div>
        

      <div id="mbrsel">
        <div class="toggle"></div>
        <div id="memberfilter">
          <i class="material-icons arrow"></i>
          <span class="input">
            <input id="mbrsel-input" placeholder="Filter all members" type="text" accesskey="/" />
          </span>
          <i class="clear material-icons"></i>
        </div>
        <div id="filterby">
          <div id="order">
            <span class="filtertype">Ordering</span>
            <ol>
              
              <li class="alpha in"><span>Alphabetic</span></li>
              
            </ol>
          </div>
          
          <div id="visbl">
              <span class="filtertype">Visibility</span>
              <ol><li class="public in"><span>Public</span></li><li class="all out"><span>All</span></li></ol>
            </div>
        </div>
      </div>

      <div id="template">
        <div id="allMembers">
        

        <div id="types" class="types members">
              <h3>Type Members</h3>
              <ol><li name="it.cwmp.client.view.AlertActor" visbl="pub" class="indented0 " data-isabs="true" fullComment="yes" group="Ungrouped">
      <a id="AlertActorextendsAnyRef"></a><a id="AlertActor:AlertActor"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#AlertActorextendsAnyRef" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">trait</span>
      </span>
      <span class="symbol">
        <a title="Trait da estendere ogni volta che si vuole avere in automatico la gestione di dei messaggi informativi o di errore." href="AlertActor.html"><span class="name">AlertActor</span></a><span class="result"> extends <span class="extype" name="scala.AnyRef">AnyRef</span></span>
      </span>
      
      <p class="shortcomment cmt">Trait da estendere ogni volta che si vuole avere in automatico la gestione di dei messaggi informativi o di errore.</p><div class="fullcomment"><div class="comment cmt"><p>Trait da estendere ogni volta che si vuole avere in automatico la gestione di dei messaggi informativi o di errore.
Per usarlo va aggiunto il behaviour: alertBehaviour al comportamento della receive.
</p></div></div>
    </li><li name="it.cwmp.client.view.FXAlerts" visbl="pub" class="indented0 " data-isabs="true" fullComment="no" group="Ungrouped">
      <a id="FXAlertsextendsAnyRef"></a><a id="FXAlerts:FXAlerts"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#FXAlertsextendsAnyRef" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">trait</span>
      </span>
      <span class="symbol">
        <a title="" href="FXAlerts.html"><span class="name">FXAlerts</span></a><span class="result"> extends <span class="extype" name="scala.AnyRef">AnyRef</span></span>
      </span>
      
      
    </li><li name="it.cwmp.client.view.FXChecks" visbl="pub" class="indented0 " data-isabs="true" fullComment="no" group="Ungrouped">
      <a id="FXChecksextendsFXControllerwithFXAlerts"></a><a id="FXChecks:FXChecks"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#FXChecksextendsFXControllerwithFXAlerts" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">trait</span>
      </span>
      <span class="symbol">
        <a title="" href="FXChecks.html"><span class="name">FXChecks</span></a><span class="result"> extends <a href="FXController.html" class="extype" name="it.cwmp.client.view.FXController">FXController</a> with <a href="FXAlerts.html" class="extype" name="it.cwmp.client.view.FXAlerts">FXAlerts</a></span>
      </span>
      
      
    </li><li name="it.cwmp.client.view.FXController" visbl="pub" class="indented0 " data-isabs="true" fullComment="no" group="Ungrouped">
      <a id="FXControllerextendsAnyRef"></a><a id="FXController:FXController"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#FXControllerextendsAnyRef" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">trait</span>
      </span>
      <span class="symbol">
        <a title="" href="FXController.html"><span class="name">FXController</span></a><span class="result"> extends <span class="extype" name="scala.AnyRef">AnyRef</span></span>
      </span>
      
      
    </li><li name="it.cwmp.client.view.FXView" visbl="pub" class="indented0 " data-isabs="true" fullComment="yes" group="Ungrouped">
      <a id="FXViewextendsAnyRef"></a><a id="FXView:FXView"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#FXViewextendsAnyRef" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">trait</span>
      </span>
      <span class="symbol">
        <a title="Trait that models a generic view." href="FXView.html"><span class="name">FXView</span></a><span class="result"> extends <span class="extype" name="scala.AnyRef">AnyRef</span></span>
      </span>
      
      <p class="shortcomment cmt">Trait that models a generic view.</p><div class="fullcomment"><div class="comment cmt"><p>Trait that models a generic view.
Implements the main measures for a basic management of the view, delegating to the class
that extends it the choice of which components to use in the creation of the interface.
</p></div></div>
    </li></ol>
            </div>

        

        <div class="values members">
              <h3>Value Members</h3>
              <ol>
                <li name="it.cwmp.client.view.AlertMessages" visbl="pub" class="indented0 " data-isabs="false" fullComment="no" group="Ungrouped">
      <a id="AlertMessages"></a><a id="AlertMessages:AlertMessages"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#AlertMessages" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">object</span>
      </span>
      <span class="symbol">
        <a title="" href="AlertMessages$.html"><span class="name">AlertMessages</span></a>
      </span>
      
      
    </li>
              </ol>
            </div>

        

        
        </div>

        <div id="inheritedMembers">
        
        
        </div>

        <div id="groupedMembers">
        <div class="group" name="Ungrouped">
              <h3>Ungrouped</h3>
              
            </div>
        </div>

      </div>

      <div id="tooltip"></div>

      <div id="footer">  </div>
    </body>
          </div>
        </div>
      </div>
    </body>
      </html>
