<!DOCTYPE html >
<html>
        <head>
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
          <title>client API  - it.cwmp.client.view.game.model</title>
          <meta name="description" content="client API - it.cwmp.client.view.game.model" />
          <meta name="keywords" content="client API it.cwmp.client.view.game.model" />
          <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
          
      <link href="../../../../../../lib/index.css" media="screen" type="text/css" rel="stylesheet" />
      <link href="../../../../../../lib/template.css" media="screen" type="text/css" rel="stylesheet" />
      <link href="../../../../../../lib/diagrams.css" media="screen" type="text/css" rel="stylesheet" id="diagrams-css" />
      <script type="text/javascript" src="../../../../../../lib/jquery.js"></script>
      <script type="text/javascript" src="../../../../../../lib/jquery.panzoom.min.js"></script>
      <script type="text/javascript" src="../../../../../../lib/jquery.mousewheel.min.js"></script>
      <script type="text/javascript" src="../../../../../../lib/index.js"></script>
      <script type="text/javascript" src="../../../../../../index.js"></script>
      <script type="text/javascript" src="../../../../../../lib/scheduler.js"></script>
      <script type="text/javascript" src="../../../../../../lib/template.js"></script>
      <script type="text/javascript" src="../../../../../../lib/tools.tooltip.js"></script>
      
      <script type="text/javascript">
        /* this variable can be used by the JS to determine the path to the root document */
        var toRoot = '../../../../../../';
      </script>
    
        </head>
        <body>
      <div id="search">
        <span id="doc-title">client API<span id="doc-version"></span></span>
        <span class="close-results"><span class="left">&lt;</span> Back</span>
        <div id="textfilter">
          <span class="input">
            <input autocapitalize="none" placeholder="Search" id="index-input" type="text" accesskey="/" />
            <i class="clear material-icons"></i>
            <i id="search-icon" class="material-icons"></i>
          </span>
        </div>
    </div>
      <div id="search-results">
        <div id="search-progress">
          <div id="progress-fill"></div>
        </div>
        <div id="results-content">
          <div id="entity-results"></div>
          <div id="member-results"></div>
        </div>
      </div>
      <div id="content-scroll-container" style="-webkit-overflow-scrolling: touch;">
        <div id="content-container" style="-webkit-overflow-scrolling: touch;">
          <div id="subpackage-spacer">
            <div id="packages">
              <h1>Packages</h1>
              <ul>
                <li name="_root_.root" visbl="pub" class="indented0 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="_root_"></a><a id="root:_root_"></a>
      <span class="permalink">
      <a href="index.html#_root_" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../../../../../../index.html"><span class="name">root</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../../../../../index.html" class="extype" name="_root_">root</a></dd></dl></div>
    </li><li name="_root_.it" visbl="pub" class="indented1 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="it"></a><a id="it:it"></a>
      <span class="permalink">
      <a href="index.html#it" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../../../../../index.html"><span class="name">it</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../../../../../index.html" class="extype" name="_root_">root</a></dd></dl></div>
    </li><li name="it.cwmp" visbl="pub" class="indented2 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="cwmp"></a><a id="cwmp:cwmp"></a>
      <span class="permalink">
      <a href="../it/index.html#cwmp" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../../../../index.html"><span class="name">cwmp</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../../../../index.html" class="extype" name="it">it</a></dd></dl></div>
    </li><li name="it.cwmp.client" visbl="pub" class="indented3 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="client"></a><a id="client:client"></a>
      <span class="permalink">
      <a href="../../it/cwmp/index.html#client" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../../../index.html"><span class="name">client</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../../../index.html" class="extype" name="it.cwmp">cwmp</a></dd></dl></div>
    </li><li name="it.cwmp.client.view" visbl="pub" class="indented4 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="view"></a><a id="view:view"></a>
      <span class="permalink">
      <a href="../../../it/cwmp/client/index.html#view" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../../index.html"><span class="name">view</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../../index.html" class="extype" name="it.cwmp.client">client</a></dd></dl></div>
    </li><li name="it.cwmp.client.view.game" visbl="pub" class="indented5 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="game"></a><a id="game:game"></a>
      <span class="permalink">
      <a href="../../../../it/cwmp/client/view/index.html#game" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <a title="" href="../index.html"><span class="name">game</span></a>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../../index.html" class="extype" name="it.cwmp.client.view">view</a></dd></dl></div>
    </li><li name="it.cwmp.client.view.game.model" visbl="pub" class="indented6 current" data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="model"></a><a id="model:model"></a>
      <span class="permalink">
      <a href="../../../../../it/cwmp/client/view/game/index.html#model" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <span class="name">model</span>
      </span>
      
      <div class="fullcomment"><dl class="attributes block"> <dt>Definition Classes</dt><dd><a href="../index.html" class="extype" name="it.cwmp.client.view.game">game</a></dd></dl></div>
    </li><li class="current-entities indented6">
                        <a class="object" href="CellView$.html" title="Companion object"></a>
                        <a class="class" href="CellView.html" title="A class representing the View counterpart of a Cell"></a>
                        <a href="CellView.html" title="A class representing the View counterpart of a Cell">CellView</a>
                      </li><li class="current-entities indented6">
                        <a class="object" href="TentacleView$.html" title="Companion Object"></a>
                        <a class="class" href="TentacleView.html" title="A class representing the View counterpart of Tentacle"></a>
                        <a href="TentacleView.html" title="A class representing the View counterpart of Tentacle">TentacleView</a>
                      </li>
              </ul>
            </div>
          </div>
          <div id="content">
            <body class="package value">
      <div id="definition">
        <div class="big-circle package">p</div>
        <p id="owner"><a href="../../../../../index.html" class="extype" name="it">it</a>.<a href="../../../../index.html" class="extype" name="it.cwmp">cwmp</a>.<a href="../../../index.html" class="extype" name="it.cwmp.client">client</a>.<a href="../../index.html" class="extype" name="it.cwmp.client.view">view</a>.<a href="../index.html" class="extype" name="it.cwmp.client.view.game">game</a></p>
        <h1>model<span class="permalink">
      <a href="../../../../../../it/cwmp/client/view/game/model/index.html" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span></h1>
        
      </div>

      <h4 id="signature" class="signature">
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">package</span>
      </span>
      <span class="symbol">
        <span class="name">model</span>
      </span>
      </h4>

      
          <div id="comment" class="fullcommenttop"></div>
        

      <div id="mbrsel">
        <div class="toggle"></div>
        <div id="memberfilter">
          <i class="material-icons arrow"></i>
          <span class="input">
            <input id="mbrsel-input" placeholder="Filter all members" type="text" accesskey="/" />
          </span>
          <i class="clear material-icons"></i>
        </div>
        <div id="filterby">
          <div id="order">
            <span class="filtertype">Ordering</span>
            <ol>
              
              <li class="alpha in"><span>Alphabetic</span></li>
              
            </ol>
          </div>
          
          <div id="visbl">
              <span class="filtertype">Visibility</span>
              <ol><li class="public in"><span>Public</span></li><li class="all out"><span>All</span></li></ol>
            </div>
        </div>
      </div>

      <div id="template">
        <div id="allMembers">
        

        <div id="types" class="types members">
              <h3>Type Members</h3>
              <ol><li name="it.cwmp.client.view.game.model.CellView" visbl="pub" class="indented0 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="CellViewextendsProductwithSerializable"></a><a id="CellView:CellView"></a>
      <span class="permalink">
      <a href="../../../../../../it/cwmp/client/view/game/model/index.html#CellViewextendsProductwithSerializable" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">case class</span>
      </span>
      <span class="symbol">
        <a title="A class representing the View counterpart of a Cell" href="CellView.html"><span class="name">CellView</span></a><span class="params">(<span name="center">center: <a href="../../../model/game/impl/Point.html" class="extype" name="it.cwmp.client.model.game.impl.Point">Point</a></span>, <span name="radius">radius: <span class="extype" name="scala.Double">Double</span></span>, <span name="color">color: <span class="extype" name="javafx.scene.paint.Color">Color</span></span>, <span name="energy">energy: <span class="extype" name="scala.Double">Double</span></span>, <span name="energyTextColor">energyTextColor: <span class="extype" name="javafx.scene.paint.Color">Color</span></span>, <span name="border">border: <span class="extype" name="javafx.scene.layout.Border">Border</span></span>)</span><span class="result"> extends <span class="extype" name="scala.Product">Product</span> with <span class="extype" name="scala.Serializable">Serializable</span></span>
      </span>
      
      <p class="shortcomment cmt">A class representing the View counterpart of a Cell
</p><div class="fullcomment"><div class="comment cmt"><p>A class representing the View counterpart of a Cell
</p></div><dl class="paramcmts block"><dt class="param">center</dt><dd class="cmt"><p>the center point where the CellView will be placed</p></dd><dt class="param">radius</dt><dd class="cmt"><p>the radius of the cell</p></dd><dt class="param">color</dt><dd class="cmt"><p>the color of the cellView</p></dd><dt class="param">energy</dt><dd class="cmt"><p>the cell energy</p></dd><dt class="param">energyTextColor</dt><dd class="cmt"><p>the color of the energyText</p></dd><dt class="param">border</dt><dd class="cmt"><p>the cell border</p></dd></dl></div>
    </li><li name="it.cwmp.client.view.game.model.TentacleView" visbl="pub" class="indented0 " data-isabs="false" fullComment="yes" group="Ungrouped">
      <a id="TentacleViewextendsProductwithSerializable"></a><a id="TentacleView:TentacleView"></a>
      <span class="permalink">
      <a href="../../../../../../it/cwmp/client/view/game/model/index.html#TentacleViewextendsProductwithSerializable" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">case class</span>
      </span>
      <span class="symbol">
        <a title="A class representing the View counterpart of Tentacle" href="TentacleView.html"><span class="name">TentacleView</span></a><span class="params">(<span name="startPoint">startPoint: <a href="../../../model/game/impl/Point.html" class="extype" name="it.cwmp.client.model.game.impl.Point">Point</a></span>, <span name="reachedPoint">reachedPoint: <a href="../../../model/game/impl/Point.html" class="extype" name="it.cwmp.client.model.game.impl.Point">Point</a></span>, <span name="color">color: <span class="extype" name="javafx.scene.paint.Color">Color</span></span>, <span name="thickness">thickness: <span class="extype" name="scala.Double">Double</span></span>)</span><span class="result"> extends <span class="extype" name="scala.Product">Product</span> with <span class="extype" name="scala.Serializable">Serializable</span></span>
      </span>
      
      <p class="shortcomment cmt">A class representing the View counterpart of Tentacle
</p><div class="fullcomment"><div class="comment cmt"><p>A class representing the View counterpart of Tentacle
</p></div><dl class="paramcmts block"><dt class="param">startPoint</dt><dd class="cmt"><p>the starting point for this tentacle View</p></dd><dt class="param">reachedPoint</dt><dd class="cmt"><p>the arrive point for this tentacle View</p></dd><dt class="param">color</dt><dd class="cmt"><p>the color of this tentacle</p></dd></dl></div>
    </li></ol>
            </div>

        

        <div class="values members">
              <h3>Value Members</h3>
              <ol>
                <li name="it.cwmp.client.view.game.model.CellView" visbl="pub" class="indented0 " data-isabs="false" fullComment="no" group="Ungrouped">
      <a id="CellView"></a><a id="CellView:CellView"></a>
      <span class="permalink">
      <a href="../../../../../../it/cwmp/client/view/game/model/index.html#CellView" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">object</span>
      </span>
      <span class="symbol">
        <a title="Companion object" href="CellView$.html"><span class="name">CellView</span></a><span class="result"> extends <span class="extype" name="scala.Serializable">Serializable</span></span>
      </span>
      
      <p class="shortcomment cmt">Companion object
</p>
    </li><li name="it.cwmp.client.view.game.model.TentacleView" visbl="pub" class="indented0 " data-isabs="false" fullComment="no" group="Ungrouped">
      <a id="TentacleView"></a><a id="TentacleView:TentacleView"></a>
      <span class="permalink">
      <a href="../../../../../../it/cwmp/client/view/game/model/index.html#TentacleView" title="Permalink">
        <i class="material-icons"></i>
      </a>
    </span>
      <span class="modifier_kind">
        <span class="modifier"></span>
        <span class="kind">object</span>
      </span>
      <span class="symbol">
        <a title="Companion Object" href="TentacleView$.html"><span class="name">TentacleView</span></a><span class="result"> extends <span class="extype" name="scala.Serializable">Serializable</span></span>
      </span>
      
      <p class="shortcomment cmt">Companion Object
</p>
    </li>
              </ol>
            </div>

        

        
        </div>

        <div id="inheritedMembers">
        
        
        </div>

        <div id="groupedMembers">
        <div class="group" name="Ungrouped">
              <h3>Ungrouped</h3>
              
            </div>
        </div>

      </div>

      <div id="tooltip"></div>

      <div id="footer">  </div>
    </body>
          </div>
        </div>
      </div>
    </body>
      </html>
